# Dependencies
node_modules/

# Environment variables
.env.local
.env.production

# Uploads
uploads/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# Vercel
.vercel/
